<div
  class="py-16 flex justify-between gap-6 flex-wrap items-center border-b-[0.1rem] border-borderTopbBar px-128"
>
  <h1 class="text-white text-[3rem] font-normal leading-none">
    Hi Arthur, welcome! You have 12 open tasks.
  </h1>

  <div class="flex flex-wrap justify-end gap-6">
    <input
      type="text"
      placeholder="Search"
      class="w-[36rem] max-w-full h-[4.8rem] bg-gray-800 text-white text-[1.6rem] rounded-full px-6 py-2 focus:outline-none focus:ring-2 focus:ring-blue-600 placeholder-white/60"
    />
    <div
      class="h-[4.8rem] w-[4.8rem] rounded-full flex-shrink-0 flex items-center justify-center text-white font-semibold text-[1.6rem] avatar-gradient"
    >
      AR
    </div>
  </div>
</div>
